# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.mo

# Migrations (optional: keep if you want version control of schema changes)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
